<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="">
      <h1>Hang Man</h1>
      <h1>You have {{guesses}} guesses left</h1>
    </div>
    <div class="">
      {{randomWordBox}}
    </div>
    <div class="">
      {{letterGuessed}}
    </div>

    <form class="" action="/hangman" method="post">
      <input type="text" name="guess" value="">
      <input type="submit" name="" value="guess!">
    </form>

    <!-- <div class=""> -->
      <!-- <span>q</span>
      <span>w</span>
      <span>e</span>
      <span>r</span>
      <span>t</span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="">
      <span>a</span>
      <span>s</span>
      <span>d</span>
      <span>f</span>
      <span>g</span>
      <span>h</span>
      <span>j</span>
      <span>k</span>
      <span>l</span>
    </div>
    <div class="">
      <span>z</span>
      <span>x</span>
      <span>c</span>
      <span>v</span>
      <span>b</span>
      <span>n</span>
      <span>m</span>
    </div> -->
  </body>
</html>
